<!DOCTYPE html>
<html>
<!--
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Full Stack App</title>
	<link href="style.css" rel="stylesheet" type="text/css" />
</head>
-->

<title>Full Stack App</title>

<body>
	<header>
		<h1><u>Registration Page</u></h1>
	</header>
<!--Consider changing this to buttons-->

	<a href="registerBuyer">Register as a Buyer</a><br>
    <br>
	<a href="register-seller">Register as a Seller</a><br>
    <br>
	<a href="register-helpdesk">Register as a HelpDesk Staff</a>
    <br>
    <a href="/">Return to login</a>
</body>

</html>
